fastapi
uvicorn
psycopg2-binary
celery
redis
httpx
python-jose
python-dotenv
authlib
cloudinary
firebase-admin
python-multipart
croniter
groq
feedparser
httpx
passlib ==1.7.4
bcrypt==4.0.1